@font-face {
    font-family: 'meriendabold';
    src: url('./fonts/merienda-bold-webfont.woff2') format('woff2'),
         url('./fonts/merienda-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1,
h2{
    font-family:  'meriendabold',sans-serif;
    font-size: 50px;
}
h1 {
    
    text-align: center;
   padding-top: 25px;
   padding-bottom: 25px;
}
.container-fluid,
nav,
Footer{
    background-color: rgb(243,233,241);
}
.lign{
    margin-bottom: 50px;
    border: 50px solid  rgb(245, 132, 224);
}

.container-fluid{
    margin-bottom: -10px;
}
nav{
   
    font-size: 25px;
    font-weight: bold;
}

.product{
    width: 90%;
    margin: auto;
    display: flex;
    border: 3px solid rgb(79, 25, 83);
    margin-bottom: 40px;
    border-radius: 10px;
}

h3{
    font-size: 20px;
    margin-left: 20px;
}
.product_price{
    margin-top: 50px;
   
}

ul{
    list-style-type: none;
}
.social,
ul li{
    font-size: 20px;
    font-weight: lighter;
    
}
.fa-facebook-f,
.fa-instagram,
.fa-twitter,
.fa-share-alt,
.fa-phone-alt,
.fa-envelope{
    margin-right: 20px;
}
.lien{
    border-bottom: 1px solid black;
}
.produit,
.separation{
    border: 1px solid black;
    width: 50%;
    margin: auto;
    
}
.separation{
    margin-bottom: 40px;
}
footer{
    margin-top: 50px;
}
h2,
#product_info,
#product_perso{
    text-align: center;
}
.product_image{
    width: 50%;
    margin: auto;
}


/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-------  mise en forme des buttons produits    -----------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
section{
    width: 90%;
    border: 2px solid  rgb(79, 25, 83);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    background-color:rgb(243,233,241) ;
    
   
}
.section_zoom{
    color: black;
    display: flex;
    
}
.div_left,
.div_right{
   width: 50%;
   padding-left: 40px;
   padding-right: 40px;
   
}
.price{
    font-size: 30px;
    margin-top: 20px;
    
}

.para{
    margin-bottom: 40px;
}
img{
    width: 250px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
h3{
    font-size: 30px;
    margin-top: 20px;
    
    font-family:  'meriendabold',sans-serif;
}
.Div_Price,
.Div_name,
.Div_Description{
    text-decoration: none;
    color: black;
}

/*---------------------------------*/
/*---------------------------------*/
/*-------page _product    -----------*/
/*---------------------------------*/
/*---------------------------------*/
